[Unit]
Description=Apache Activemq {{ activemq_version }}
After=network.target

[Service]
ExecStart=/opt/activemq/apache-activemq-{{ activemq_version }}/bin/activemq start
ExecStop=/opt/activemq/apache-activemq-{{ activemq_version }}/bin/activemq stop
User=activemq
Group=activemq
Restart=on-abort
RestartSec=9
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=activemq
Type=forking

[Install]
WantedBy=multi-user.target