<?xml version="1.0" encoding="UTF-8"?>
<Context useHttpOnly="false">

    <Environment name="spring.config.location"
                 value="file:///{{  jndi_config_path }}/product-summary/application.yml"
                 type="java.lang.String"
                 override="false"/>

</Context>
