#!/usr/bin/env bash

export SPRING_ACTIVEMQ_BROKER_URL="tcp://localhost:61616"
export SPRING_ACTIVEMQ_USER="admin"
export SPRING_ACTIVEMQ_PASSWORD="admin"

export BACKBASE_HOME="/opt/backbase" project folder
export BACKBASE_ENVROLE="editorial"
export BACKBASE_DBTYPE="mysql"
export LIQUIBASE_ENABLED={{ liquibase_enabled }}

#the 128-bit key is used for inter-service communication and symmetric encryption
export SIG_SECRET_KEY="JWTSecretKeyDontUseInProduction!"
export EXTERNAL_SIG_SECRET_KEY="JWTSecretKeyDontUseInProduction!"
export EXTERNAL_ENC_SECRET_KEY="JWTSecretKeyDontUseInProduction!"


#external token TTL values
export SSO_JWT_EXTERNAL_EXPIRATION="36000"
export SSO_JWT_EXTERNAL_RENEW="144000"
export SSO_JWT_EXTERNAL_NOT_VALID_AFTER="57600"


#Registry variables
#Registry Tomcat instance specific variables - must match the values of the Registry Service Tomcat instance
export EUREKA_SERVICE_URL="-Deureka.client.serviceUrl.defaultZone=http://localhost:8080/registry/eureka/" Eureka URL - uses the same HTTP CONNECTOR of Registry Tomcat instance

#Specific Tomcat instance variables - must be changed for each Tomcat instance to match the IP address and Port on which it runs
export LOCAL_REGISTRY_IP="-Deureka.instance.ipAddress=localhost" The host IP address on which the Tomcat instance runs - this is specific to each Tomcat instance
export LOCAL_REGISTRY_PORT="-Deureka.instance.nonSecurePort=8081" The host port on which the Tomcat instance runs - this is specific to each Tomcat instance

#Include in JAVA_OPTS to change logging level
export LOGGING_DEBUG="-Dlogging.level=DEBUG"

export JAVA_OPTS="$JAVA_OPTS $EUREKA_SERVICE_URL $REGISTRY_SERVICE_URL $LOCAL_REGISTRY_IP $LOCAL_REGISTRY_PORT"