[Unit]
Description=Apache Tomcat Web Application Container
After=syslog.target network.target

[Service]
Type=forking

Environment=CATALINA_PID=/opt/tomcat/apache-tomcat-{{ tomcat_full_version }}/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/tomcat/apache-tomcat-{{ tomcat_full_version }}
Environment=CATALINA_BASE=/opt/tomcat/apache-tomcat-{{ tomcat_full_version }}

ExecStart=/opt/tomcat/apache-tomcat-{{ tomcat_full_version }}/bin/startup.sh
ExecStop=/bin/kill -15 $MAINPID

User=tomcat
Group=tomcat

[Install]
WantedBy=multi-user.target